<!DOCTYPE html>
<html id="theme" lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
crossorigin="anonymous">
<link rel="stylesheet" href="css/bootstrap-social.css"/>
<link rel="stylesheet" type="text/css" href="/css/styles.css" />
<title>Concert Recommendations</title>
  </head>

<!-- As a heading -->
<nav class="navbar bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Concert Genie</span>
     <div id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/customize">View Artists</a>
        </li>
        <li class="nav-item">
            <form action="/logout" method="post" class="inline">
                     <button class="nav-link active link-button" type='submit' aria-current="page">Log Out</button>
            </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <body id="theme">
