
  <%- include("header") -%>
<h1>Eventful Live</h1>
<hr>
  <form action="/" method="post">
    <label for="quantity">Number of Artists: </label>
    <input
        id="quantity"
      type="number"
      name="quantity"
      placeholder="1-50"
      min="1"
      max="50"
      autocomplete="off"
    />
    <br>
    <label for="range">Time Range: </label>
    <select name="range" id="range">
     <option value="short_term">Short Term</option>
     <option value="medium_term">Medium Term</option>
     <option value="long_term">Long Term</option>
    </select><br>
    <button type="submit" name="query">Add</button>
  </form>
<hr>

  <% for (let i = 0; i < Object.keys(topArtists).length; i++){%>
  <p><%= topArtists[i].artist %></p>
  <img src=<%=topArtists[i].image%> >

  <% } %>
  <%- include("footer") -%>
