#theme {
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient(65deg, #11999e 50%, #e4f9f5 50%);
  min-height: 1000px;
  font-family: "Asap", sans-serif;
}

#header {
  margin-top: 25px;
  text-align: center;
}
#events {
  margin: 20px;
}

img {
  height: 75px;
  width: 100px;
}

form {
  background-color: transparent;
}

#settings {
  width: 100%;
  text-align: center;
  background-color: #e4f9f5;
}

.form-items {
  margin-top: 30px;
}
.form-left {
  padding: 10px;
}

.form-left {
  padding: 10px;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
