html {
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient(65deg, #11999e 50%, #e4f9f5 50%);
  min-height: 1000px;
  font-family: "Asap", sans-serif;
}

img {
  height: 75px;
  width: 100px;
}

form.spotify-queries {
  background-color: transparent;
}
